body {
	background: url("fondo.png") no-repeat center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#titulo {
	height: 60px;
}
.ficha {
	height: 50px;
	text-align: center;
}
#score{
	background-image: url("score.png") ;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
    background-position: center; 
    text-align: center;
    width: 193px;
	height: 410px;
	
    color:white;

    margin-left: 50px;
    margin-right: 50px;
}
#socoreTable{

}
#panel{
	background-image: url("panel.png")  ;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
    background-position: center; 
    padding-top: 100px;
    padding-left: 115px;
    width: 280px;
    height: 420px;
}
#fichaMar {
	padding-top: 145px;
}
.table>thead>tr>th,
.table>tbody>tr>td,
.table>tbody>tr>th {
  border-top: none;
}
.table {
	width: 193px;
	padding-top: 225px;
}


#confirm {
            display: none;
            position: fixed;
            width: 200px;
            height: 141px;
            left: 50%;
            margin-left: -100px;
            padding: 6px 8px 8px;
            box-sizing: border-box;
            text-align: center;
            color: white;
         }
         #confirm button {
            margin-top: 65px;
            text-align: center;
            width: 100px;
            cursor: pointer;
            height: 50px;
         }
         #confirm .message {
            text-align: left;
         }
.float-left {
float:left;
width:300px; 
}
.airWinner{
  background-image: url("airWinner.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.seaWinner{
  background-image: url("seaWinner.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.accept{
  background-image: url("accept.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}
